<h2>executionTrend</h2>
<div class="content">
    <div class="chart"></div>
    <div id="legend_container">
        <div id="smoother" title="Smoothing"></div>
        <div id="legend" class="rickshaw_legend"></div>
    </div>
</div>