.content {
    font-size: 24px;
    color: #B0B0B0;
    font-weight: normal;
    text-align: left;
}

table {
    width: 100%;
}

th {
    font-size: 30px;
    color: #F0F0F0;
    font-weight: bold;
    text-align: center;
}